include mixinlist
+html()
  +header('ico demo','')
    .ico.ico_comment c
    .ico.ico_down D
    .ico.ico_down E
    .ico.ico_favour F
    .ico.ico_favour.ico_favour_done f
    .ico.ico_like L
    .ico.ico_like.ico_like_done l
    .ico.ico_like2 M
    .ico.ico_like2.ico_like2_done m
    .ico.ico_ok O
    .ico.ico_play P
    .ico.ico_share S
    .ico.ico_send s
    .ico.ico_close X

      