include mixinlist
+html()
  +header('搜索','search_page')
    +search_nav
    .tip_none.tip_noresult_more
      .tip_none_text
        p 搜索结果不满意？ 
        p 手雷嗅探帮你解决这个问题~试试吧？
      a.fbtn.fbtn_full(href='') 一键开启全网搜索模式
    header.item_box_head 
      h1 推荐
    section.item_box.item_site_box
      section.item.item_out
        a.item_link(href='detail_movie_list.html')
          .pic_bor
            img(src='img/list_pic3.jpg', width='90', height='126', alt='')
            span.ico_grade 3.5
          h1 
            mark.f_mini [视频]-
            | 富春山居春山居
          ul.item_info
            li 主演：范·迪塞尔 / 保罗·沃克 / 乔丹
        footer.item_op
          a.bbtn(href='#') 立即播放
      section.item.item_out
        a.item_link(href='detail_movie_list.html')
          .pic_bor.pic_tran
            img(src='img/rank_tv.jpg', width='90', height='126', alt='')
            span.ico_grade 3.5
          h1 
            mark.f_mini [视频]-
            mark.hlight 富春山居
              | 春山居
          ul.item_info
            li 主演：范·迪塞尔 / 保罗·沃克 / 乔丹
        footer.item_op
          a.bbtn.bbtn_s(href='#') 1
          a.bbtn.bbtn_s(href='#') 2
          a.bbtn.bbtn_s(href='#') 3
          a.bbtn.bbtn_s(href='#') …
          a.bbtn.bbtn_s(href='#') 30
      section.item.item_out
        a.item_link(href="detail_movie.html")
          .pic_bor.pic_bor_bt
          h1 
            mark.f_mini [群视频]-
            | 十万个冷笑话
          ul.item_info
            li.item_info_2line 来自：你懂的群
        footer.item_op
          a(href="#").tbtn.tbtn_s 加群查看
      section.item.item_out
        a.item_link(href="detail_movie.html")
          .pic_bor.pic_bor_bt
          h1 
            mark.f_mini [群视频]-
            | 十万个冷笑话
          ul.item_info
            li.item_info_2line 已完结
        footer.item_op
          a(href="#").tbtn.tbtn_s 播放
      section.item.item_out
        a.item_link(href='detail_movie_list.html')
          .pic_bor
            img(src='img/list_pic3.jpg', width='90', height='126', alt='')
            span.ico_grade 3.5
          h1 
            mark.f_mini [综艺]-
            mark.hlight 富春山居
            | 春山居
          ul.item_info
            li 主演：范·迪塞尔 / 保罗·沃克 / 乔丹
        footer.item_op
          a.bbtn.bbtn_l(href='#') 第2013-09-07期
          a.bbtn.bbtn_s(href='#') …
    header.item_box_head 
      h1 全网资源
    section.item_box.item_site_box
      section.item.item_svideo_s.item_out
        a.item_link(href='detail_movie_list.html')
          .pic_bor
            img(src='img/pic_detail_land.jpg', width='90', height='126', alt='')
            span.btn_play(href='') 播放
          h1 非诚勿扰精彩片段非诚勿扰精彩片段非诚勿扰精彩片段非诚勿扰精彩片段非诚勿扰精彩片段非诚勿扰精彩片段
          ul.item_info
            li 时长：00:03:01
      section.item.item_svideo_s.item_out
        a.item_link(href='detail_movie_list.html')
          .pic_bor
            img(src='img/pic_detail_land.jpg', width='90', height='126', alt='')
            span.btn_play(href='') 播放
          h1 非诚勿扰精彩片段非诚勿扰精彩片段非诚勿扰精彩片段非诚勿扰精彩片段非诚勿扰精彩片段非诚勿扰精彩片段
          ul.item_info
            li 时长：00:03:01
    header.item_box_head 
      h1 全网资源
    section.item_box.item_site_box
      section.item.item_out
        a.item_link(href='detail_movie_list.html')
          .pic_bor
            img(src='img/list_pic3.jpg', width='90', height='126', alt='')
          h1 
            mark.f_mini [视频]-
            | 不再让你孤单
          ul.item_info
            li 主演：范·迪塞尔 / 保罗·沃克 / 乔丹
            li 格式：HD
            li 来源：
              span.f_note http://www.80s.com/
      section.item.item_out
        a.item_link(href="detail_movie.html")
          .pic_bor.pic_bor_bt
          h1 
            mark.f_mini [BT种子]-
            | 不再让你孤单
          ul.item_info
            li.item_info_2line 这是一个BT粽子这是一个BT粽子这是一个BT粽子这是一个BT粽子
            li 来源：
              span.f_note http://www.80s.com/
      section.item.item_bt.item_out
        a.item_link(href="detail_movie.html")
          .pic_bor.pic_bor_bt
          h1 查看更多“
            mark.hlight 火影
            | ”相关种子
          p.item_info BT掘客为你提供最齐全BT种子，下载更方便!
      section.item.item_nopic.item_out
        a.item_link(href="detail_movie.html")
          h1 
            mark.f_mini [电子书]-
            mark.hlight 富春山居
            | 春山居
          ul.item_info
            li 大小：1235.3GB
            li 格式：HD
            li 来源：
              span.f_note http://www.80s.com/