include mixinlist
+html()
  +header('个人中心-积分说明','user_page')
    header.detail_top
      h1.t_help 怎么玩
    dl.detail_list
      dt 什么是迅雷积分
      dd 迅雷积分商城是深圳市迅雷网络技术有限公司为答谢广大雷友长久以来的支持而特别推出的一个回馈平台。目前通过迅雷积分商城，注册用户可以进行积分的兑换、积分抽奖等一系列活动。而迅雷积分则作为该平台消费的唯一“货币”。

       dt 如何获得迅雷积分
       dd 迅雷积分可通过多种渠道获得。在手机迅雷客户端，坚持签到和完成积分任务是获得迅雷积分最稳定和快捷方法。

       dt 如何使用迅雷积分
       dd 迅雷积分是迅雷积分商城消费的唯一“货币”。用户在迅雷积分商城消耗积分可进行兑换、抽奖等一系列活动。后续还有更多的福利推出，敬请期待。

      